/* ==============================
   WELCOME SECTION
============================== */

.welcome-container {
    /* display: flex;
    flex-direction: column; */
    padding: 0px 0px 8px 16px;
}

/* .welcome-container h1 {
    margin-bottom: 1rem;
} */
